textarea {
    height: 80px;
}

.post {
    position: relative;
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 78px;
    overflow-wrap: break-word;
}
main .post {
    background: #ffffff;
    box-shadow: 0 6px 14px 0 #0000001a;
    margin-top: 32px;
    margin-bottom: 32px;
}

main .pagination {
    position: relative;
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: right;
}

.meta:after {
    content: '';
    display: table;
    clear: both;
}
.meta .profile {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    background: #FF304F;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    text-align: center;
}
.meta .name {
    font-weight: bold;
}
.meta .username {
    text-decoration: underline;
}
.meta .published_at {
    float: right;
    text-decoration: underline;
}

/* BOF: Page Specific Styles */
.page_api-key_add table td {
    overflow-wrap: break-word;
}
/* EOF: Page Specific Styles */


/* BOF: Columns */
.sidebars {
    margin-top: 32px;
}
.sidebars menu li {
    display: block;
    margin: 1rem;
    font-size: 18px;
}
/* EOF: Columns */

/* BOF: Two Columns */
#app.columns_2 {
    display: grid;
    grid-template-columns: auto 280px 600px 320px auto;
}
#app.columns_2 > header {
    grid-column: 1 / 6;
}
#app.columns_2 > #sidebar_left {
    grid-column: 2 / 3;
}
#app.columns_2 > main {
    grid-column: 3 / 5;
}
#app.columns_2 > footer {
    grid-column: 1 / 6;
}
/* EOF: Two Columns */

@media (max-width: 1199px) {
    #app.columns_2 {
        display: block;
    }
    #app.columns_2 > #sidebar_left {
        margin: 0 auto;
        max-width: 900px;
    }

}
